<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="common/menu::head"></head>

<body>
<nav th:replace="common/menu::menu"></nav>


<table>
    <tr >

    </tr>
</table>


<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">

        <div class="card " style="width: 40rem;">
            <div class="card-header">
                Individuals involved in cycles
            </div>
            <div class="card-body">

                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center active">
                        <p> Name of Individual</p>
                        <span  >User Since</span>
                    </li>

                    <li th:each="individual:${cycleSet}" class="list-group-item d-flex justify-content-between align-items-center">
                        <p th:text="${individual.name}"></p>
                        <span class="badge badge-primary badge-pill" th:text="${individual.userSince}"></span>
                    </li>
                </ul>

            </div>
        </div>



    </div>
    <div class="col-sm-3"></div>
</div>





</body>

</html>

